.content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {
    background-color: rgb(246, 233, 178);
}

img {
    margin: 100px;
    height: 400px;
    width: 600px;
}

.text {
    width: 400px;
    margin: 150px;
    margin-top: 100px;
    color: rgb(10, 104, 71);
    font-family: "Nunito Sans", sans-serif;
    display: block;
    text-align: justify;
    display: inline;
    align-items: center;
    justify-content: center;
}

.fact {
    width: 100%;
    font-size: x-large;
    margin-top: 40px;
    text-indent: 2em;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    font-family: "Chewy", system-ui;
    color: rgb(10, 104, 71);
}

button {
    margin-left: 80px;
    margin-top: 40px;
    display: block;
    justify-content: center;
    align-items: center;
}

#links p, #links a {
    color: rgb(10, 104, 71) !important;
}

#links.border-top {
    border-color: rgb(10, 104, 71) !important;
}